div.row{
    margin-right: 0px;
 }
 
 div.container-fluid{
    padding-right: 0px;
 }

footer{
    background: #3366CC 0% 0% no-repeat padding-box;
    opacity: 1;
}

.roundInput{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 24px;
    opacity: 1;
    height: 52px;
    width: 50%;
    padding-left: 20px;
    font: normal normal 300 20px/24px Montserrat;
    letter-spacing: 0px;
    color: #0B457F;
}

.formControl{
    max-width: 50%;
    margin: 0;
    padding: 0;
}

.header{
    background: transparent url('../img/2nueva-bandera--agosto.png') 0% 0% no-repeat padding-box;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    height: 500px;
}

.headerText{
    font: normal normal 300 61px/122px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.headerSecondText{
    font: normal normal normal 30px/62px Work Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.footerTitle{
    font: normal normal 300 30px/22px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF; 
    opacity: 1;
}

.iconsFooter{
    background-color: #FFFFFF;
    border-radius: 50px;
}

.textIconsFooter{
    font: normal normal normal 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.aFooter{
    text-decoration: underline;
    font: normal normal bold 16px/22px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.containerx{
    position: relative;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 10px #00000033;
    opacity: 1;
    max-width: 90%;
    left: 5%;
    right: 5%;
    border-radius: 20px;
    top: -100px;
}

.mostUsed{
    text-align: left;
    font: normal normal normal 16px/50px Montserrat;
    letter-spacing: 0px;
    color: #3772FF;
    opacity: 1;
}

.cardContainer{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #3772FF;
    border-radius: 10px;
    opacity: 1;
}

.cardBody{
    text-align: left;
    font: normal normal 300 33px/40px Work Sans;
    letter-spacing: 0px;
    color: #004884;
    opacity: 1;
}

.cardText{
    text-align: left;
    font: normal normal 300 33px/40px Work Sans;
    letter-spacing: 0px;
    color: #004884;
    opacity: 1;
}

.otherText{
    text-align: left;
    font: normal normal normal 14px/50px Work Sans;
    letter-spacing: 0px;
    color: #004884;
    opacity: 1;
}

.online{
    text-align: left;
    font: normal normal normal 14px/50px Work Sans;
    letter-spacing: 0px;
    color: #069169;
    opacity: 1;
}

.carousel-indicators{
    background-color: #FFFFFF;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: gray;
    opacity: 1;
  }

.carousel-indicators li.active {
    background-color: #004884;
}

.tramTitle{
    text-align: left;
    font: normal normal bold 16px/20px Montserrat;
    letter-spacing: 0px;
    color: #0B457F;
    opacity: 1;
}

.tramPart{
    text-align: left;
    font: normal normal normal 14px/50px Work Sans;
    letter-spacing: 0px;
    color: #0B457F;
    opacity: 1;
}

.tramCost{
    text-align: left;
    font: normal normal normal 14px/50px Work Sans;
    letter-spacing: 0px;
    color: #0B457F;
    opacity: 1;
}

.tramRedir{
    text-align: left;
    text-decoration: underline;
    font: normal normal normal 14px/50px Work Sans;
    letter-spacing: 0px;
    color: #004884;
    opacity: 1;
}

.moreTram{
    font: normal normal medium Montserrat;
    font-size: 1vw;
    letter-spacing: 0px;
    color: #3772FF;
    opacity: 1;
}

.lineBottom{
    border-bottom: 2px solid #E5EEFB;
}

.secondCardTitle{
    text-align: left;
    font: normal normal 300 33px/39px Work Sans;
    letter-spacing: 0px;
    color: #0B457F;
    text-transform: capitalize;
    opacity: 1;
}

.secondCardSubTitle{
    text-align: left;
    font: normal normal normal 20px/24px Montserrat;
    letter-spacing: 0px;
    color: #0B457F;
    opacity: 1;
}

.secondCardText{
    text-align: left;
    font: normal normal normal 14px/16px Work Sans;
    letter-spacing: 0px;
    color: #0B457F;
    opacity: 1;
}

.opinionTitle{
    text-align: left;
    font: normal normal 300 44px/60px Work Sans;
    letter-spacing: 0px;
    color: #0B457F;
    opacity: 1;
}

.textUnderColor{
    text-align: left;
    font: normal normal bold 16px/19px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}

.opinionSubTitle{
    text-align: left;
    font: normal normal bold 16px/50px Montserrat;
    letter-spacing: 0px;
    color: #0B457F;
    opacity: 1;
}

.opinionText{
    font: normal normal normal 16px/50px Work Sans;
    letter-spacing: 0px;
    color: #0B457F;
    opacity: 1;
}

.buttonCenter{
    align-self: center;
}

.buttonSearchBar{
    position: absolute; 
    right: 25.5%; 
    top: 3%;
}